<div class="chat container">
  <div class="row main">
    <!-- Messages -->
    <div class="col-8 h-100p">
      <div class="messages d-none">
        <h2>Messages</h2>
        <ul id="messagesList"
            class="messages-list list-group">
        </ul>
      </div>
    </div>
    <!--/ Messages -->

    <!-- Users list -->
    <div class="col-4">
      <div id="usersListContainer"
           class="d-none">
        <h2>Users</h2>
        <ul id="usersList"
            class="list-group">
          <li class="list-group-item">User 1</li>
        </ul>
      </div>
      <!-- Login form -->
      <div class="login-form-container">
        <form class="login-form">
          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text"
                   id="nickname"
                   class="form-control"
                   required>
            <span class="input-error d-none">User already exists</span>
          </div>
          <button type="submit"
                  class="btn btn-primary w-100 mt-3">Login
          </button>
        </form>
      </div>
      <!--/ Login form -->

    </div>
    <!--/ Users list -->

  </div>
  <!-- Message form -->
  <div class="pt-4">
    <form class="message-form row d-none">
      <label class="col-10">
        <input id="messageInput"
               type="text"
               class="message form-control"
               placeholder="message">
      </label>
      <div class="col-2">
        <button id="submitMessage"
                type="submit"
                class="btn btn-primary w-100">Send
        </button>
      </div>
    </form>
  </div>
  <!--/ Message form -->
</div>
